button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: rgb(46, 151, 36);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}